<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{% block head_meta_description %}{{ app.meta.description }}{% endblock %}" />
        <meta name="keywords" content="{% block head_meta_keywords %}{{ app.meta.keywords }}{% endblock %}" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url('main_index') }}apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url('main_index') }}favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url('main_index') }}favicon-16x16.png" />
        <link rel="manifest" href="{{ url('main_index') }}site.webmanifest" />
        <link rel="mask-icon" href="{{ url('main_index') }}safari-pinned-tab.svg" color="#5bbad5" />
        <link rel="stylesheet" type="text/css" href="{{ url('main_index') }}css/default.css?{{ app.version }}" />
        <title>{% block head_title_content %}{{ app.meta.title }}{% endblock %}</title>
    </head>
    <body>
        {% block header_container %}
            <header>
                {% block header_content %}
                    <div class="float-left">
                        {% if 'main_index' == request.get('_route') %}
                            {{ 'Home' | trans }}
                        {% else %}
                            <a href="{{ path('main_index') }}">{{ 'Home' | trans }}</a>
                        {% endif %}
                        {% for link in app.links | split(',') %}
                            {% set a = link | split('|') %}
                            {% if a.0 is defined  and a.1 is defined %}
                                &bull;
                                <a href="{{ a.1 }}" target="_blank">{{ a.0 }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="float-right">
                        <strong>
                            {{ app.name }}
                        </strong>
                    </div>
                {% endblock %}
            </header>
        {% endblock %}
        {% block main_container %}
            <main>
                {% block main_content %}{% endblock %}
            </main>
        {% endblock %}
        {% block footer_container %}
            <footer>
                {% block footer_content %}
                    {% if app.masters %}
                        <small class="float-left">
                            <strong>{{ 'Master tracker' | trans }}:</strong>
                            {% for i, master in app.masters | split(',') %}
                                {% if i %}&bull;{% endif %} {{ master }}
                            {% endfor %}
                        </small>
                    {% endif %}
                    <small class="float-right">
                        {{ 'Powered by' | trans }}
                        <a href="https://github.com/YGGverse/HLState" target="_blank">HLState</a>
                    </small>
                {% endblock %}
            </footer>
        {% endblock %}
    </body>
</html>