<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{% block head_meta_description %}{{ app.meta.description }}{% endblock %}" />
        <meta name="keywords" content="{% block head_meta_keywords %}{{ app.meta.keywords }}{% endblock %}" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url('main_index') }}apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url('main_index') }}favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url('main_index') }}favicon-16x16.png" />
        <link rel="manifest" href="{{ url('main_index') }}site.webmanifest" />
        <link rel="mask-icon" href="{{ url('main_index') }}safari-pinned-tab.svg" color="#5bbad5" />
        <link rel="stylesheet" type="text/css" href="{{ url('main_index') }}css/default.css?{{ app.version }}" />
        <title>{% block head_title_content %}{{ app.meta.title }}{% endblock %}</title>
    </head>
    <body>
        {% block header_container %}
            <header>
                {% block header_content %}
                    <a href="https://store.steampowered.com/app/70/HalfLife/" title="{{ 'Get Half-Life' | trans }}" target="_blank">
                        <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 364.707 364.707" enable-background="new 0 0 364.707 364.707" xml:space="preserve">
                            <path fill="currentColor" d="M223.864,272.729l-38.608-97.848l-56.603,89.184H93.166l79.052-127.654l-8.875-25.229h-30.781V81.12h52.691l60.521,153.899l26.608-8.668l8.867,29.813L223.864,272.729z"/>
                            <path fill="none" stroke="currentColor" stroke-width="34" d="M337.623,182.198c0,85.579-69.363,154.934-154.934,154.934c-85.571,0-154.936-69.354-154.936-154.934c0-85.569,69.363-154.933,154.936-154.933C268.259,27.265,337.623,96.629,337.623,182.198z"/>
                        </svg>
                    </a>
                    <h1 class="text-align-right padding-right-36-px">
                        {{ app.name }}
                    </h1>
                {% endblock %}
            </header>
        {% endblock %}
        {% block main_container %}
            <main>
                {% block main_content %}{% endblock %}
            </main>
        {% endblock %}
        {% block footer_container %}
            <footer>
                {% block footer_content %}
                    {% if app.masters %}
                        <small class="float-left">
                            <strong>{{ 'Master' | trans }}:</strong>
                            {% for i, master in app.masters | split(',') %}
                                {% if i %}&bull;{% endif %} {{ master }}
                            {% endfor %}
                        </small>
                    {% endif %}
                    <small class="float-right">
                        {{ 'Powered by' | trans }}
                        <a href="https://github.com/YGGverse/HLState" target="_blank">HLState</a>
                    </small>
                {% endblock %}
            </footer>
        {% endblock %}
    </body>
</html>